<button *ngIf="dataLoaded==false" class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Yükleniyor...
  </button>
  <ul *ngIf="dataLoaded == true" class="list-group">
    <li
    (click)="setCurrentAllColor('')"
    routerLink=""
    [class]="getAllColorClass()" 
    aria-current="true">
    Renkler
  </li>
    <li
      (click)="setCurrentColor(color.colorName)"
      routerLink="/cars/color/{{ color.colorName }}"
      *ngFor="let color of colors"
      [class]="getCurrentColorClass(color.colorName)"
    >
      {{ color.colorName }}
    </li>
  </ul>
  