<button
  *ngIf="dataLoaded == false"
  class="btn btn-primary"
  type="button"
  disabled
>
  <span
    class="spinner-grow spinner-grow-sm"
    role="status"
    aria-hidden="true"
  ></span>
  Yükleniyor...
</button>

<ul *ngIf="dataLoaded == true" class="list-group">
  <li 
  (click)="setCurrentAllBrand('')"
  routerLink=""
  [class]="getAllBrandClass()" 
  aria-current="true">
  Modeller
</li>
  <li
    (click)="setCurrentBrand(brand.brandName)"
    routerLink="/cars/brand/{{ brand.brandName }}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand.brandName)"
  >
    {{ brand.brandName }}
  </li>
</ul>
