<button
  *ngIf="dataLoaded == false"
  class="btn btn-primary"
  type="button"
  disabled
>
  <span
    class="spinner-grow spinner-grow-sm"
    role="status"
    aria-hidden="true"
  ></span>
  Yükleniyor...
</button>

<div class="mb-3">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="filterText"
    id="filterText"
    placeholder="arama ifadesi giriniz..."
  />

  <div *ngIf="filterText" class="alert alert-success">
    {{ filterText }} aradınız.
  </div>
  <br />

  <ul *ngIf="dataLoaded == true" class="list-group">
    <li
      (click)="setCurrentAllBrand('')"
      routerLink=""
      [class]="getAllBrandClass()"
      aria-current="true"
    >
      Modeller
    </li>
    <li
      (click)="setCurrentBrand(brand.brandName)"
      routerLink="/cars/brand/{{ brand.brandName }}"
      *ngFor="let brand of brands | filterBrand: filterText"
      [class]="getCurrentBrandClass(brand.brandName)"
    >
      {{ brand.brandName }}
    </li>
  </ul>
</div>
