<div class="content">
    <div class="col-md-8" style="margin-left: 10%;">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Marka Ekle</h5>
          <div class="card-body">
            <form [formGroup]="brandAddFrom">
              <div class="mb-3">
                <div class="form-group">
                    <label for="brandId">Marka Kodu</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="brandId"
                        formControlName="brandId"
                        class="form-control"
                        placeholder="Model Kodu"
                      />
                    </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="brandName">Marka İsmi</label>
                <div class="form-group">
                  <input
                    type="text"
                    id="brandId"
                    formControlName="brandName"
                    class="form-control"
                    placeholder="Model İsmi"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
              <button class="btn btn-fiil btn-success" (click)="add()">Ekle</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
