<app-navi></app-navi><br />
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-brand></app-brand><br>
    </div>
    <div class="col-md-3">
      <app-color></app-color><br>
    </div>
    <div class="col-md-6">
      <app-car></app-car><br>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-customer></app-customer><br>
      </div>
      <div class="col-md-9">
        <app-rental></app-rental><br>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
