<button
  *ngIf="dataLoaded == false"
  class="btn btn-primary"
  type="button"
  disabled
>
  <span
    class="spinner-grow spinner-grow-sm"
    role="status"
    aria-hidden="true"
  ></span>
  Yükleniyor...
</button>

<!-- <table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Marka</th>
      <th>Model</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Günlük Ücreti</th>
      <th>Araç Fotoğrafı</th>
    </tr>
  </thead>
  <tr
    
    routerLink="/cars/getbyid/{{ car.id }}"
    *ngFor="let car of cars"
  >
    <td>{{ car.brandName }}</td>
    <td>{{ car.carName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>{{car.imagePath}</td>
  </tr>
</table> -->

<div class="row">
  <div   class="card border-success mb-3" style="width: 15rem" *ngFor="let car of cars "> 
    
    <a class="lightbox">
      <img src= "{{baseUrl}}{{car.imagePath[0]}}" class= card-img-top  weight = "130" height="180"></a>
    <div class="card-body">
      <h5 class="card-title">{{ car.brandName }} - {{ car.carName }}</h5>
      <p class="card-text">
        Renk : {{ car.colorName }}<br>
        Model Yılı : {{ car.modelYear }} <br>
        Günlük Ücreti : {{car.dailyPrice |currency: "TRY":"₺":""}}
      </p>
      <a routerLink="getcarimages/{{car.id}}" class="btn btn-primary">
        Detay
      </a>
    </div>
  
  </div>
  
</div>
